<header id="header">	
  <div class="row">
      <div >
          <form class="d-flex" style="    
          margin-left: 20%;
          margin-right: 20%;
          margin-bottom: 10px;
          margin-top: 10px;"> 
              <input class="form-control mr-2 mx-10" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-outline-success" type="submit">Search</button> </form>
      </div>
      
  </div>
  <div class="row">
      <nav class="links" style="--items: 4;">
          <a href="#">For you</a>
          <a href="#">Your org. content</a>
          <a href="#">Instructure Led courses</a>
          <a href="#">Mbytes</a>
          <span class="line"></span>
      </nav>
  </div>
  
