.conntainer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.footer {
  display: flex;
  flex: 1;
  background: #1a73e8;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row {
  display: flex;
  flex: 1;
}
.col {
  color: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-flow: column;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}
.col:hover {
  color: #ffff;
  background: #1652a0;
  border-radius: 5px;
}
.title {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
