@media (max-width: 500px) {
  .row {
    position: relative;
    margin-top: 100%;
  }
  .img {
    width: 100%;
  }

  /* CSS that should be displayed if width is equal to or less than 800px goes here */
}
@media only screen and (max-width: 1500px) and (min-width: 501px) {
  /* CSS that should be displayed if width is equal to or less than 991px and larger 
     than 768px goes here */
  .row {
    position: relative;
    margin-top: 30%;
  }
  .img {
    width: 50%;
  }
}
