// .fcontainer {
//   display: flex;
//   border: 2px solid gray;
//   height: 45vh;
//   flex-direction: row;
//   //   justify-content: flex-end;
//   justify-content: center;
//   align-items: center;
//   justify-content: space-evenly;
//   //flex-wrap: wrap; MAKING RESPONSIVE
// }
// .fitem {
//   background-color: red;
//   border: 2px solid black;
//   margin: 12px;
//   width: 122px;
//   height: 122px;
// }
// .item1 {
//   order: 3;
//   //flex-grow: 3;
//   flex-shrink: 3;
//   align-self: center;
// }
.fcontainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: auto;
}
.abovepart {
  flex: 5;
  display: flex;
}
.belowpart {
  flex: 4;
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: center;
}
.left {
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: center;
}
.right {
  flex: 1;
  display: flex;
}
.wizard {
  border: 2px solid black;
  flex: 1;
  margin: 5px;
  overflow-y: auto;
  max-height: 50vh;
}
.video {
  flex: 1;
  // border: 2px solid black;
  margin: 5px;
  height: 50%;
  align-items: center;
  display: flex;
}
.videocard {
  color: #1a73e8;
  height: 20vh;
  width: 40vw;
  border: 2px solid;
  margin-left: 5px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.yourVideo {
  height: 15vh;
  color: #1a73e8;
  flex: 1;
  border: 2px solid;
  margin-left: 5px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.iframeVideo {
  width: inherit;
}
