<!-- <p>record-screen works!</p>
<div class="fcontainer">
    <div class="fitem item1">1</div>
    <div class="fitem item2">2</div>
    <div class="fitem item3">3</div>
    <div class="fitem item4">3</div>
</div> -->
<div class="fcontainer">
    <div class="abovepart">
        <div class="left">
            <div class="video">
                <iframe style="width: 50vw;" src="https://www.youtube.com/embed/_l3w4NHaAlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="right">
            <div class="wizard">
                <app-wizard></app-wizard>
            </div>
        </div>
    </div>
    <div class="belowpart">
        <div class="videocard">
            <iframe  class="iframeVideo" src="https://www.youtube.com/embed/_l3w4NHaAlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="videocard">
            <iframe  class="iframeVideo" src="https://www.youtube.com/embed/_l3w4NHaAlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="videocard">
            <iframe  class="iframeVideo" src="https://www.youtube.com/embed/_l3w4NHaAlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="videocard">
            <iframe  class="iframeVideo" src="https://www.youtube.com/embed/_l3w4NHaAlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        <div class="videocard">
            <iframe  class="iframeVideo" src="https://www.youtube.com/embed/_l3w4NHaAlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
    </div>
</div>