<!-- <p>record-screen works!</p>
<div class="fcontainer">
    <div class="fitem item1">1</div>
    <div class="fitem item2">2</div>
    <div class="fitem item3">3</div>
    <div class="fitem item4">3</div>
</div> -->
<div class="fcontainer">
    <div class="abovepart">
        <div class="left">
            <div class="title">
             <!-- title -->
            </div>
            <div class="video">
               <h5><p>Your Mbyte</p></h5> 
                <div class="yourVideo">
                    <iframe width="300" height="150" src="https://www.youtube.com/embed/qgdkIajt1ac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
        </div>
        <div class="right">
            <div class="wizard">
                <form>
                    <!-- <div class="form-group row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                      </div>
                    </div> -->
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">Subject</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Equipment</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputPassword" placeholder="">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Process</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputPassword" placeholder="">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Location</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputPassword" placeholder="">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Content</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputPassword" placeholder="">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Creator</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputPassword" placeholder="">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">User Role</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputPassword" placeholder="">
                        </div>
                      </div>
                  </form>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="morembytes">
        <strong>Other Mbytes</strong>
        <br>
        <br>
    <div class="otherVideos">
        <div class="videocard">
            <iframe width="200" height="100" src="https://www.youtube.com/embed/QWvKa1Bkak8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            </div>
        <div class="videocard">
            <iframe width="200" height="100" src="https://www.youtube.com/embed/PRVmIh3pKOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        <div class="videocard">
            <iframe width="200" height="100" src="https://www.youtube.com/embed/qgdkIajt1ac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        <div class="videocard">
            <iframe width="200" height="100" src="https://www.youtube.com/embed/qgdkIajt1ac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        <div class="videocard">
            <iframe width="200" height="100" src="https://www.youtube.com/embed/qgdkIajt1ac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="videocard">
            <iframe width="200" height="100" src="https://www.youtube.com/embed/qgdkIajt1ac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
            <div class="videocard">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-play" viewBox="0 0 16 16">
                <path d="M6 10.117V5.883a.5.5 0 0 1 .757-.429l3.528 2.117a.5.5 0 0 1 0 .858l-3.528 2.117a.5.5 0 0 1-.757-.43z"/>
                <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
              </svg>
            Video3</div>
        <div class="videocard">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-play" viewBox="0 0 16 16">
                <path d="M6 10.117V5.883a.5.5 0 0 1 .757-.429l3.528 2.117a.5.5 0 0 1 0 .858l-3.528 2.117a.5.5 0 0 1-.757-.43z"/>
                <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
              </svg>
            Video4</div>
    </div>
</div>
</div>