// .fcontainer {
//   display: flex;
//   border: 2px solid gray;
//   height: 45vh;
//   flex-direction: row;
//   //   justify-content: flex-end;
//   justify-content: center;
//   align-items: center;
//   justify-content: space-evenly;
//   //flex-wrap: wrap; MAKING RESPONSIVE
// }
// .fitem {
//   background-color: red;
//   border: 2px solid black;
//   margin: 12px;
//   width: 122px;
//   height: 122px;
// }
// .item1 {
//   order: 3;
//   //flex-grow: 3;
//   flex-shrink: 3;
//   align-self: center;
// }
.fcontainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: auto;
}
.abovepart {
  flex: 2;
  display: flex;
}
.belowpart {
  flex: 1;
  border: 2px solid black;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}
.left {
  flex: 1;

  display: flex;
}
.right {
  flex: 1;
  display: flex;
}
.wizard {
  border: 2px solid black;
  flex: 1;
  margin: 5px;
  overflow-y: auto;
  max-height: 50vh;
}
.video {
  flex: 1;
  border: 2px solid black;
  margin: 5px;
  height: 50%;
  align-items: center;
  display: flex;
}
.videocard {
  height: 20vh;
  width: 40vw;
  border: 2px solid;
  margin-left: 5px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.iframeVideo {
  width: inherit;
}
