<mat-drawer-container class="example-container">
    <mat-drawer mode="side" position="end" opened><app-sidenav-right></app-sidenav-right></mat-drawer>
    <mat-drawer-content>
        <div class="my-3 mx-3">
    
            <h1>{{title}}</h1>
            <hr>
            <br>
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/K0Oy9KyIcrs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <hr>
        
            <h1>{{notes}}</h1>
            <hr>
            <div class="my-5">
                <p>
                    <strong>What is an excavator?</strong> <br>
        An excavator is a piece of heavy equipment that is used to dig holes in sand, earth and rock and load materials onto conveyors or into trucks for removal. It is comprised of a boom dipper, a bucket and a cab that that sits on a rotating platform known as the “house.” Its undercarriage may be on tracks or wheels. In a nutshell, an excavator is a mechanical shovel that is used for:
                </p>
                <br>
                <br>
                <p>
                   <strong>What skills or traits do you need to run an excavator?</strong> <br>
        Proper training is essential, and safety and competency are priorities. Otherwise, you could make a mistake that could cause serious injury, damage and OSHA fines. In addition to knowing how to operate an excavator safely, you must meet other requirements:
                </p>
            </div>
            <div class="my-3">
                <h1>{{evaluation}}</h1>
                <hr>
                <button class="btn btn-primary">{{startEvaluation}}</button>
            </div>
           
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  