<div class="my-3 mx-3 ">
    <h1>{{watching}}</h1>
    <hr>
    <br>
    <div class="row">
        
        <div class="col-md-3">
            <a routerLink="/streaming"> 
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
            </a>
        </div>
        
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
    </div>
    <br>
    <h1>{{watched}}</h1>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
    </div>
    <br>
    <h1>{{wishList}}</h1>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/jcb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
              </div>
        </div>
    </div>
    <br>
</div>
