<mat-nav-list>
    <div class="logo py-4">
     
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">
        <strong>{{watched}}</strong> </h2>
    <ul>
        <li>
            Person 1
        </li>
        <li>
            Person 2
        </li>
        <li>
            Person 3
        </li>
    </ul>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">
        <strong>{{whatchin}}</strong> </h2>
    <ul>
        <li>
            Person 1
        </li>
        <li>
            Person 2
        </li>
        <li>
            Person 3
        </li>
    </ul>

   
  </mat-nav-list>
  
