<ul id="myUL">
    <li><span class="caret">{{machines[0].type}}</span>
      <ul class="nested">
        <li><span class="caret">{{machines[0].manufacturer[0].name}}</span>
          <ul class="nested">
            <li><span class="caret">{{machines[0].manufacturer[0].models[0].name}}</span>
              <ul class="nested">
                <li>1. {{machines[0].manufacturer[0].models[0].videos[0]}}
                  <mat-card>
                  
                  <div class="row">
                    <div class="col-md-6"> <mat-card-title></mat-card-title>
                      </div>
                  
                  </div>
                </mat-card></li>
              </ul>
            </li>
            
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <ul id="myUL">
    <li><span class="caret">{{machines[0].type}}</span>
      <ul class="nested">
        <li><span class="caret">{{machines[0].manufacturer[0].name}}</span>
          <ul class="nested">
            <li><span class="caret">{{machines[0].manufacturer[0].models[0].name}}</span>
              <ul class="nested">
                <li><div class="row">1. {{machines[0].manufacturer[0].models[0].videos[0]}}</div>
                  <mat-card>
                  
                  <div class="row">
                    <div class="col-md-6"> <mat-card-title></mat-card-title>
                      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/K0Oy9KyIcrs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                      </div> 
                  <div class="col-md-6">The Caterpillar Sixty was originally introduced for sale beginning in 1919 as the C. L. Best 60 Tracklayer, manufactured by the C. L. Best Tractor Company. The Best 60 was the most successful tractor in the Best model line.[2] After the 1925 merger of the C. L. </div>
                  </div>
                </mat-card></li>
              </ul>
            </li>
            
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <ul id="myUL">
    <li><span class="caret">{{machines[0].type}}</span>
      <ul class="nested">
        <li><span class="caret">{{machines[0].manufacturer[0].name}}</span>
          <ul class="nested">
            <li><span class="caret">{{machines[0].manufacturer[0].models[0].name}}</span>
              <ul class="nested">
                <li><div class="row">1. {{machines[0].manufacturer[0].models[0].videos[0]}}</div>
                  <mat-card>
                  
                  <div class="row">
                    <div class="col-md-6"> <mat-card-title></mat-card-title>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/K0Oy9KyIcrs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                  <div class="col-md-6">The Caterpillar Sixty was originally introduced for sale beginning in 1919 as the C. L. Best 60 Tracklayer, manufactured by the C. L. Best Tractor Company. The Best 60 was the most successful tractor in the Best model line.[2] After the 1925 merger of the C. L. </div>
                  </div>
                </mat-card></li>
              </ul>
            </li>
            
          </ul>
        </li>
      </ul>
    </li>
  </ul>