html {
  position: absolute;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: auto;
}
.contentbody {
  flex: 1;
  // border: 2px solid black;
  display: flex;
  margin-top: 5vh;
}
.footer {
  display: flex;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
