.otherVideos {
  // border: 2px solid;
  flex: 4;
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: center;
}
.videocard {
  color: #1a73e8;
  height: 20vh;
  width: 40vw;
  border: 2px solid;
  margin-left: 5px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.manufacturers {
  //border: 2px solid;
  flex: 2;
  display: flex;
  overflow-x: auto;
  // justify-content: center;
  align-items: center;
}
.manufacturer {
  height: 7vh;
  width: 30vw;
  border: 2px solid;
  margin-left: 5px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
}

.tags {
  // border: 2px solid;
  flex: 2;
  display: flex;
  overflow-x: auto;
  //justify-content: center;
  align-items: center;
}
.tag {
  height: 7vh;
  width: 30vw;
  border: 1px solid #ced4da;
  margin-left: 5px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 115px;
}

.search {
  // border: 2px solid;
  flex: 1;
  display: flex;
  overflow-x: auto;
  justify-content: center;
  text-align: center;
}

.sarchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

*::-webkit-scrollbar {
  width: 20px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #1a73e875;
  width: 10px;
  ///border: 5px s;
  // border-radius: 20px;
}
