<div class="search">
    <div class="sarchBox mx-3">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Search for your Mbyte...">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary">Search</button>
            </div>
          </div>
    </div>
</div>
<div class="tags mx-3">
    <div class="tag">
        Tag1
    </div>
    <div class="tag">
        Tag2
    </div>
    <div class="tag">
        Tag3
    </div>
    <div class="tag">
        Tag4
    </div>
    <div class="tag">
        Tag1
    </div>
    <div class="tag">
        Tag2
    </div>
    <div class="tag">
        Tag3
    </div>
    <div class="tag">
        Tag4
    </div>
</div>
<div class="manufacturers mx-3">
    <div class="manufacturer">BOCH</div>
    <div class="manufacturer">SIEMENS</div>
    <div class="manufacturer">HAAS</div>
    <div class="manufacturer">CATERPILLER</div>
    <div class="manufacturer">BOCH</div>
    <div class="manufacturer">SIEMENS</div>
    <div class="manufacturer">HAAS</div>
    <div class="manufacturer">CATERPILLER</div>
</div>
<div class="otherVideos">
    <div class="videocard">Video1</div>
    <div class="videocard">Video2</div>
    <div class="videocard">Video3</div>
    <div class="videocard">Video4</div>
    <div class="videocard">Video1</div>
    <div class="videocard">Video2</div>
    <div class="videocard">Video3</div>
    <div class="videocard">Video4</div>
</div>