/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Montserrat", sans-serif;
}
// * {
//   border: 1px solid red;
// }
// *::before {
//   border: 1px solid red;
// }
// *::after {
//   border: 1px solid red;
// }
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.app-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: auto;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
